<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../img/favicon.ico">
        <link rel="stylesheet" href="../css/styleCRUD.css">
    </head>
    <header>
        Administracion
        <nav>
			<ul>
				<li><a href="index.php">CATEGORÍAS</a></li>
				<li><a href="#configuracion">CONFIGURACION</a></li>
				<li><a href="#objetos">OBJETOS SIN CATEGORÍA</a></li>
                <li><a href="index.php?accion=selectCategoria&controlador=Controlador">SELECCIONAR CATEGORÍA</a></li>
			</ul>
		</nav>
    </header>
    <body>