@import url('https://fonts.googleapis.com/css2?family=Agbalumo');

body{
    background-color: #F59436;
    font-family: 'Agbalumo';
    margin: 0;
}
header{
    width: 100%;
    text-align:center;
    background-color: #588FA0;
    height: 40px;
    top: 0;
    position:fixed;
    font-size: x-large;
}
footer{
    width: 100%;
    text-align:center;
    background-color: #588FA0;
    position: fixed;
    height: 40px;
    bottom: 0;
}
footer p{
    margin: 0;
    margin-top: 5px;
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main form{
    min-width: 57.3vh;
    min-height: 68.5vh;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5); /* Opacidad del fondo del formulario */
}
input{
    margin: 20px;
    width: 50%;
    font-size: 40px;
    font-family: 'Agbalumo';
}
input[type="text"]{
    font-size: 30px;
    text-align: center;
}
label{
    font-size: 30px;
}
input[type="submit"] , select{
    font-family: 'Agbalumo';
    background-color: #36C8F5;
    border-radius: 15px;
    border: 1px solid black;
    width: 133px;
    height: 50px;
    font-size: large;
}
input[type="submit"]:hover{
    background-color:#368ff5;
}
input[type="submit"]:active{
    background-color:#588FA0;
}

#botones{
    margin-top: 20%;
}
.inputPeq{
    width: 10%;
    height: 10%;
}

input[type="checkbox"]{
    transform: scale(4);
}

#contenido{
    margin-top: 10%;
}

table{
	width: 87.7%;
	border-collapse: collapse;
	color: black;
	background-color: #e6e6e6;
	margin: 4.0% 6.0%;
}

td{
	border: 2px solid black;
	height: 40px;
	text-align: center;
}

#azul td{
	background-color: #44caf3;
    height: 50px;
}

a {
	padding: 10px 20px;
	background-color: #44caf3;;
	color: black;
	text-decoration: none;
	border: 2px solid black;
	border-radius: 10px;
}



#volver{
    margin-top: 20%;
}
#imagenTabla img{
    width: 25%;
    border: 1px solid black;
}

.tamFuenteGrande{
    font-size: 40px;
}

.botonAbajo{
    margin-top: 10%;
}

.botonAbajo input[type="submit"]{
    width: 250px;
}

.icono{
    width:10%;
}
.sinEstilo{
    padding: none;
	background-color: transparent;
	color: none;
	text-decoration: none;
	border: none;
	border-radius: 0px;
}

select {
    margin-bottom: 10px; /* Ajusta el valor según tu preferencia */
}

#noFixed {
    width: 100%;
    text-align:center;
    background-color: transparent;
    height: 40px;
    top: 0;
    position:fixed;
    font-size: x-large;
}