/* Importa la fuente 'Agbalumo' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo');

/* Estilo del cuerpo de la página */
body {
    background-color: #F59436; /* Color de fondo naranja */
    font-family: 'Agbalumo'; /* Usa la fuente 'Agbalumo' */
    margin: 0; /* Elimina los márgenes predeterminados */
}

/* Estilo del encabezado de la página */
header {
    width: 100%;
    text-align: center;
    background-color: #588FA0; /* Color de fondo azul */
    height: 40px;
    top: 0;
    position: fixed;
    font-size: x-large; /* Tamaño de fuente extra grande */
    z-index: 1;
}

/* Estilo de la barra de navegación */
nav {
    width: 100%;
    text-align: center;
    background-color: #36C8F5; /* Color de fondo azul claro */
    height: 45px;
    top: 40;
    position: fixed;
}

/* Estilos de la lista de navegación */
nav ul {
    list-style-type: none;
    text-align: center;
    line-height: 5px;
}

/* Estilos de los elementos de la lista de navegación */
nav li {
    display: inline-block;
    margin: 0 0.5%;
    padding: 0 0.5%;
    font-size: 13px;
}

/* Estilos de los enlaces de navegación */
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: none;
    padding: 0;
    transition: 1s;
    font-size: 18px;
    position: relative;
}

/* Estilos al pasar el ratón sobre los enlaces de navegación */
nav a:hover {
    background-color: #588FA0;
    color: white;
    font-size:25px;
    transition: 0.5s;
}

/* Estilo del pie de página */
footer {
    width: 100%;
    text-align: center;
    background-color: #588FA0; /* Color de fondo azul */
    position: fixed;
    height: 40px;
    bottom: 0;
}

/* Estilos del contenido principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del formulario dentro del contenido principal */
main form {
    min-height: 68.5vh;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5); /* Opacidad del fondo del formulario */
    width: 85%;
}

/* Estilos generales para los campos de entrada */
input {
    margin: 5px;
    font-size: 40px;
    font-family: 'Agbalumo';
}

/* Estilos específicos para el campo de texto */
input[type="text"] {
    font-size: 30px;
    text-align: center;
}
form h1{
    margin: 0;
}

#preguntasContainer input[type="text"]{
    width: 90%;
    margin: 5px 0;
    font-size: 20px;
}
#preguntasContainer p{
    margin: 0px;
}
#preguntasContainer span{
    font-size: 30px;
    display: block;
}

/* Estilos para las etiquetas del formulario */
label {
    font-size: 30px;
}

/* Estilos para los botones de envío y selectores */
input[type="submit"], select, input[type="button"], .submit{
    font-family: 'Agbalumo';
    background-color: #36C8F5; /* Color de fondo azul claro */
    border-radius: 15px;
    border: 2px solid black;
    font-size: large;
    padding: 10px 20px;
    height: auto;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

/* Estilos al pasar el ratón sobre el botón de envío */
input[type="submit"]:hover , .submit:hover{
    background-color: #368ff5;
}

/* Estilos al hacer clic en el botón de envío */
input[type="submit"]:active , .submit:active{
    background-color: #588FA0;
}

/* Estilos específicos para las entradas pequeñas */
.inputPeq {
    width: 8%;
}

/* Estilos para los checkboxes */
input[type="checkbox"] {
    transform: scale(4); /* Aumenta el tamaño del checkbox */
    width: 5%;
}

input[type="radio"]{
    width: 35px;
    height: 35px;
}

/* Estilos específicos para el bloque con id 'contenido' */
#contenido {
    margin-top: 10%;
}

/* Estilos para las tablas */
table {
    width: 87.7%;
    border-collapse: collapse;
    color: black;
    background-color: #e6e6e6; /* Color de fondo gris claro */
    margin: 2.0% 6.0%;
    
}

/* Estilos para las celdas de la tabla */
td {
    border: 2px solid black;
    height: 40px;
    text-align: center;
}

/* Estilos para las celdas de la tabla con fondo azul */
#azul td {
    background-color: #44caf3;
    height: 50px;
}

/* Estilos para los enlaces */
a {
    background-color: #44caf3; /* Color de fondo azul claro */
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
}

/* Estilos para las imágenes dentro de la tabla */
#imagenTabla img {
    width: 25%;
    border: 1px solid black;
}

/* Estilos para el texto con fuente grande */
.tamFuenteGrande {
    font-size: 40px;
}

/* Estilos para el botón de abajo */
.botonAbajo {
    margin-top: 10%;
}

/* Estilos específicos para el ancho del botón de abajo */
.botonAbajo input[type="submit"] {
    width: 250px;
}

/* Estilos para los iconos */
.icono {
    width: 15%;
}

/* Estilos para elementos sin estilo */
.sinEstilo {
    padding: none;
    background-color: transparent;
    color: none;
    text-decoration: none;
    border: none;
    border-radius: 0px;
}

/* Estilos para los selectores */
select{
    display: block;
    width: 45%;
    margin: 20px 28.5%;
}
/* Estilos para el bloque con id 'noFixed' */
#noFixed {
    width: 100%;
    text-align: center;
    background-color: transparent;
    position: fixed;
}

/* Estilos para el objeto con id 'objeto' */
#objeto {
    width: 42.8%;
}

/* Estilos para el bloque con id 'respuesta' */
/* #respuesta {
    position: static;
} */

/* Estilos para aumentar el margen en 100px */
.aumentarMargin100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Estilos para aumentar el margen en 25px */
.aumentarMargin25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

#listaPreguntas {
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0%;
    top: 11%;
    left: 75%;
    bottom: 0%;
    background-color: #588fa098;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.imagenObjeto{
    width: 80%;
    max-width: 150px;
}

.contenedores {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.correcto{
    color:green;
    font-weight: bolder;
    font-size: xx-large;
}

.error{
    color:rgb(243, 27, 27);
    font-weight: bolder;
    font-size: xx-large;
}
/* Celda del nombre de los objetos de la tabla */
.nombreObjeto{
    width: 30%;
}
.catNombre{
    width: 65%;
}
.objetoImagen{
    position: absolute;
    top: 0;
    right: 0;
}
.datosObjeto{
    position: relative;
    text-align: left;
}
.datosObjeto>input:first-child{
    width: 30%;
}
.datosObjeto>input:last-child{
    width: 55%;
}
.nuevoObjeto{
    text-align: center;
}
input[type="file"]{
    font-size: 30px;
}